@use 'src/styles/vars';
.connexion {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#fff;

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 120px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: vars.$light-background-color;
    outline: none;
    color: vars.$light-background;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: vars.$light-background-color;
    font-size: 2rem;
    display: none;
    &.active{
      display:block;
    }
  }
  &__container {
    position: relative;
    width: 420px;
    min-height: 490px;
    height:  auto;
    background-color: vars.$light-background-color;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;

    &_top {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 30px;
      display: flex;

      &-link{
        text-decoration: none;
        color: #fff;
        margin: 0 3%;
        background: none;
        border:none;
        &.active {
          font-weight: bold;
        }
      }
    }

    &_body {
      position: relative;
      height: auto;
      padding: 15% 5%;
      margin-top: 20%;
      background-color: #fff;
      color: vars.$light-background-color;
      border-radius: 30px;
      font-size: 1rem;

      &-form {
        display:none;
        &.active {
          display:block;
        }
      }

      &-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid vars.$light-background-color;
        padding: 1.8% 0;
        margin: 20px 0;

        & .input {
          width: 90%;
          border: none;
          outline: none;
          color: vars.$light-background-color;
          font-weight: 550;

          &::placeholder {
            color: vars.$light-background-color;
          }
        }

        & .link {
          display: inline-block;
          font-size: 0.8em;
          width: 100%;
          text-decoration: none;
          color: vars.$light-background-color;
          text-align: right;
          &:hover {
            text-decoration: underline;
          }
        } 
      }
    }
  }

  @media screen and (max-width: 520px) {

    &__container {
      width: 80%;
      min-width: 380px;
      min-height: 490px;

      &_body {
        width: 100%;
        padding: 15% 5%;
        margin-top: 25%;
        max-height: 420px;
      }
    }
  }
}