.carousel{
  position:relative;
  &-nav{
    &-left{
      position: absolute;
      left:0;
      top: calc(50% - 8px);
    }
    &-right{
      position: absolute;
      right:0;
      top: calc(50% - 8px);
    }
  }

  &-sliders{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

}