.categories {
  &__content {
    display: flex;
    flex-flow: column wrap;
    a h1:hover {
      letter-spacing: 0.5px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
  &__content-carousel{
    width:100%;
  }
}
