.categories {
  &__content {
    display: flex;
    flex-flow: column wrap;
    a h1:hover {
      letter-spacing: 0.5px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
  & h2 {
    margin-left: calc(50%-2em);
    margin-right: calc(50%-2em);
  }
}
