.error{
  margin-top: 2em;
  &__title{
    padding: .5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: #3f6372;
    color: #fff;
  }

  &__case{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;

    &-img{
      width: 60vh;
    }
  }

  &__button{
    width: 7em;
    border: 0;
    background-color: #3f6372;
    color: #fff;
    padding: .7em;
    border-radius: .2em;
    margin: 0.1em;
    font-family: 'Voltaire';
    font-size: 1em;
  }
}