.carousel-card{
  border-radius: 7% 7% 0 0;
  height: 200px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 23%;
  margin: 1rem;

  //Initial Elements position
  &-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    &-effect{
      height:100%;
      background: radial-gradient(transparent, 70%, #adadad);
    }
  }

  &-title{
    background: #1717178a;
    color:#fff;
    bottom: 0;
    font-size: .8rem;
    position: absolute;
    width: 100%;
  }

  &-links{
    color: #a94545a3;
    display: flex;
    flex-direction: column;
    height: calc(100% - .8rem);
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.1rem;
  }
}