// general style
$font-title:'Voltaire', sans-serif;

// light theme
$light-color-light: #fff;
$light-color-dark: #000;
$light-color-hover: #14a9e9; 
$light-background: #fff;
$light-background-color: #17154c;
$light-backdround-gradient:linear-gradient( to right, #5548ed, #15a8fb);

// dark theme
$dark-color-light: #fff;
$dark-color-dark: #000;
$dark-background:#fff;
$dark-background-color: #3f6372;
$dark-backdround-gradient:linear-gradient( to right, #5548ed, #15a8fb);
