@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');


body {
  font-family: 'Voltaire', sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
