@use 'src/styles/vars';

.picture{
  width: 100%;
  background: #ffffffbd;

  button{
    border: none;
    background: none;
    float: right;
    font-size: 2rem;
  }

  &-top, &-bottom{
    width:100%;
    padding: 0.8rem 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &-top{
    top:0;

    &-title{
      display:inline-block;
      font-size:1.5rem;
      background: vars.$light-backdround-gradient;
      padding: 1.5rem 0.5rem 0.6rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;   
    }
  }

  &-img {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    width: 100%;

    img{
      max-width: 60%;
      box-shadow: 0 0 1rem #949494eb;
    }
  }

  &__bottom{
    margin:1rem;
    bottom:0;
    flex-flow: row wrap;
    &-links{
      width:100%;
      display:flex;
      justify-content: space-evenly;
    }
    &-comments{
      min-width: 320px;
      display:none;
      &.active{
        display:block;
      }
      form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem 0;
        button{
          width:max-content;
          background-color: vars.$light-background-color;
          border: 0;
          border-radius: .2em;
          color: vars.$light-background;
          font-family: Voltaire;
          font-size: 1em;
          margin: .1em;
          padding: .5em;
        }

        button:hover{
          background-color: #2c3a49;
        }

        textarea{
          font-family: Arial, Helvetica, sans-serif;
          width:75%;
          min-height: 4rem;
        }
      }

      &-section{
        border-top: 1px solid vars.$light-background-color ;
        padding: 1rem 0;
      }
    }
  }

  i{
    color: vars.$light-link-color;
  }
}