@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');


body {
  font-family: vars.$font-basic;

  h1, h2, button, button a, a{
    font-family: vars.$font-title;
  }

  h1{
    font-weight: bold;
    text-align: center;
    font-size:1.5rem;
    background-color: vars.$light-background-color;
    color: vars.$light-background;
    padding: .5em;
    margin-bottom: 1.5em;
  }
}

.app{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}