@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');


body {
  font-family: vars.$font-basic;

  h1, h2, button, button a, a{
    font-family: vars.$font-title;
  }

  h1, h2, h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
    background: vars.$light-backdround-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    padding: .5em;
    margin-bottom: .5em;
    margin-top: .5em;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    text-align: center;
  }
}

.app{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &.dark{
    background-color: vars.$dark-background;
    color: vars.$dark-color-light;
    .picture{
      background: none;

      button{
        color: vars.$dark-color-light;
      }
    }
    textarea{
      color: vars.$dark-color-light;
      background-color: vars.$dark-background;
    }
    .carousel{
      .carousel-card-img-effect {
        background: radial-gradient(transparent,70%,#212121);
      }
      button{
        color: #15a8fb;
      }
      button:disabled{
        color: #2c3a49;
      }
    }
    .profil, .contact, .legalementions, .cgu, .connexion{
      p, label, h4, a, .comment{
        color: vars.$dark-color-light;
      }
      input{
        color: vars.$dark-color-light;
        background-color: vars.$dark-background;

        &::placeholder{
          color: vars.$dark-color-light;
        }
      }
    }

    .connexion, .connexion__container_body{
      background-color: vars.$dark-background;
      i{
        color: vars.$dark-color-light;
      }
    }

  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}