@use 'src/styles/vars';

.legalementions{
  margin-top: 2em;
  &__title{
    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: vars.$light-background-color;
    color: vars.$light-background;
    padding: .5em;
    &-sub {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      color: vars.$light-background-color;
      padding: .5em;
    } 
  }
  & strong {
    font-weight: bold;
    
  }
  &__text{
    padding: 1% 15%;
    font-size: 1em;
  }
  @media screen and (min-width:767px) {
    margin-top: 1.5em; 
    &__text{
      padding: 1% 10%;
      font-size: 1em;
    }
  }
      
}