@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

.home{
  h2{
    display:inline-block;
    font-family: 'Voltaire', sans-serif;
    font-size:1.5rem;
    background: linear-gradient( to right, #5548ed, #15a8fb);
    padding: 1.5rem 0.5rem 0.6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}