@use 'src/styles/vars';

.profil {
  margin-top: 2em;
  &-title{
  font-size: 2rem;
  text-align: center;
  }
  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid;
    margin: 2em;
    height: 20vh;
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1em;
      & i{
        font-size:7.5rem;
        color: vars.$light-background-color;
      }
      & input {
        height: 60%;
      }
    }
    &-text-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1em;
      align-content: center;
    }
    &-bis {
      display: flex;
      flex-direction: row;
      height: 20vh;
      margin: 2em;
      justify-content: space-around;
    }
  }
  &__button {
    color: white;
    background-color: rgba(0, 102, 255, 0.808);
    border-radius: 5px;
    border: none;
    padding: 0.5em;
  }

  @media screen and (max-width: 767px) {
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border: 2px solid;
        margin: 1em;
        height: 35vh;
      &-text-3 {
        display: flex;
        flex-direction: row;
        & input {
          padding-left: 1em;
          margin-left: 1em;
          
          width: 10vh;
          height: 100%;
          align-items: center;
        }
        & button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 1em;
          align-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 530px) {
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid;
        margin: 0.5em;
        height: 40vh;
      &-text-3 {
        display: flex;
        flex-direction: row;
        & input {
          padding-left: 1em;
          margin-left: 1em;
          
          width: 10vh;
          height: 100%;
          align-items: center;
        }
        & button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 1em;
          align-content: center;
        }
      }
    }
  }
}




