@use 'src/styles/vars';
@keyframes notification_disappear {
  from{ opacity: 1;}
  to{opacity:0;}
}
.profil {
  margin-top: 1em;
  text-align: center;

  &-notification{
    background-color: vars.$light-background;
    margin-bottom: .5em;

    &.active{
      animation: notification_disappear 0s both;
      animation-delay: 5s;
    }
    .info-delete{
      color: orangered;
    }
    .info-edit{
      color:green;
    }
    .info-error{
      color:red;
    }
  }

  &__title {
    margin-bottom: 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
    &__section {
      margin: 0em 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid vars.$light-background-color;
      padding: 2em 0.5em;
      border-radius: 10px;
      text-align: center;
      &-select{
        text-transform: capitalize;
      }
      &-option{
        text-transform: capitalize;
      }
      
      &-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5em;
      }

      &-text p{
        color: vars.$light-background-color;;
        padding: .5em;
        font-family: 'Voltaire';
        text-align: left;
      }

      &-input{
        width: 80%;
        margin-top: 1em;
        border: none;
        border-bottom : 1px solid vars.$light-background-color ;
        border-bottom-right-radius: .5em;
        padding: .5em;
        font-family: 'Voltaire';
      }

      &-input::placeholder{
        color: vars.$light-background-color;
        font-size: 1em;
      }
  
      &-input:focus-within{
        outline : 1px solid vars.$light-background-color;
      }

      &-button{
        width: 8em;
        border: 0;
        background-color: vars.$light-background-color;
        color: vars.$light-background;
        padding: .7em;
        border-radius: .2em;
        margin-top: 1em;
        font-family: 'Voltaire';
        font-size: 1em;

      }

      &-post{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row wrap;
        margin: 1rem;
        &-field{
          min-width: 230px;
          width: 25%;
          margin:1rem;
        }
      }
    }
    @media screen and (min-width:767px) {
      &__section{
        justify-content: space-evenly;
        margin: 0 15em;
        width: calc(100% - 30em);

        &-input{
          width: 50%;
        }
        
      }
    }
}





