.header {
  height: 10vh;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav__header {
  display: flex;
  margin: 1em;
  align-items: center;
  justify-content: flex-end;
  
} li {
  padding: 1em;
}

img {
  
}
