// Animations used

/* Heart beat animation */
@keyframes beat{
	to { 
    transform: scale(1.3);
    color: #c53b3bc0;
  }
}

  //Initial Elements position

.carousel-card{
  border-radius: 7% 7% 0 0;
  height: 200px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 23%;
  margin: 1rem;

  &-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    &-effect{
      height:100%;
      background: radial-gradient(transparent, 70%, #adadad);
    }
  }
  &-title{
    background: #1717178a;
    color:#fff;
    bottom: 0;
    font-size: .8rem;
    position: absolute;
    width: 100%;
    padding:0.3rem;
  }

  &-links{
    font-size: 1.5rem;
    color: #a94545a3;
    display: flex;
    flex-direction: column;
    height: calc(100% - .8rem);
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3rem;

  }

  // Effects

  &-links--like.unselected:hover .bi::before{
    animation: beat .25s infinite alternate;
    transform-origin: center;
  }

  &-links--comment.unselected:hover .bi::before{
    color: #c53b3bc0;
    transform: scale(1.2);
    transition: 1s;
    transform-origin: center;
  }
}

.selected{
  color: #c53b3bc0;
  transform: scale(1.2);

  &:hover .bi::before{
    transform: none;
  }
}