.block{
  background-color: #3f6372;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 1em;

  &__container{
    background-color: #fff;
    border-radius: 50%;
    &-logo{
      max-width: 6em;
    }
  }

  &__link{
    text-align: center;
    color: #fff;
    font-size: 1.5em;

    &-text{
      font-size: .8em;
      padding: 2em;
    }
    &-text:hover{
    color:#14a9e9;
    text-decoration: underline;
    }
  }
  &__box{
    padding: .5em 0;
    display: flex;
    justify-content: center;
    border-top: dotted 1px #fff;
    &-copy{
      font-size: .8em;
      color: #fff;
    }
  }

  
  @media screen and (min-width:767px) {
    .footer{
      &__link{
        &-group{
        display: flex;
        flex-direction: row;
        color : #fff;
        }
      }
    }
  }
}