@use 'src/styles/vars';

:root {
  --primary: #1888ff;
}

.button-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: vars.$light-background;
  cursor: pointer;
  background-color: var(--primary);
  &:hover {
    background-color: transparent;
    color: vars.$light-background;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }
}

@media screen and (max-width: 767px) {
  .button-button{
    display: none;
  }
}

