:root {
  --primary: #1888ff;
}

.button-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
  &:hover {
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }
}

