@use 'src/styles/vars';

.navbar {
  background: vars.$light-background-color;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  z-index: 9999;
  
  &-slide-button{
    display:flex;
    position: relative;
    left: 2px;

    &-background{
      &--left, &--right{
        background: vars.$dark-background-color;
        height:30px;
        transition: 1s;
      }
      &--left{
        border-radius:50% 0 0 50%;  
        width:30px;
      }
      &--right{
        border-radius: 0 50% 50% 0;  
        width:30px;
      }

      &.active, &--left.active, &--right.active{
        background: #1888ff;
        transition: 1s;
      }
    }
    &-mode{
      height: 26px;
      position: absolute;
      width: 30px;
      bottom: 2px;
      left: 2px;
      border-radius: 50%;
      background: vars.$dark-backdround-gradient;
      transition:1s;
      box-shadow: 0 0 4px inset #000;

      i{
        font-size:1rem;
        position: absolute;
        top:5px;
        left:7px;
      }

    &.active{
      transform:rotate(2turn);
      left:28px;
      transition: 1s;
    }

    }

  }

  &__logo {
    color: vars.$light-background;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }

  &__icon {
    display: none;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 59vw;
    justify-content: end;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &:hover {
      color: vars.$light-color-hover;
      text-decoration: underline;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }

    &-mobile {
      display: none;
    }
  }

  i{
    color: vars.$light-background;
  }

  @media screen and (max-width: 767px) {
    position : sticky;
    top : 0px;

    &__logo {
      position: absolute;
      top: 0;
      left: -2.5em;
      transform: translate(25%, 50%);
    }

    &__icon {
      display: block;
      position: absolute;
      top: -0.32rem;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    &__menu {
      transition: all 0.5s ease;
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 3rem;
      right: -100%;
      opacity: 1;

      &.active {
        background: vars.$light-background-color;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        display: flex;
        z-index: 99;
      }
    }

    &__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;

      &:hover {
        color: vars.$light-color-hover;
        border-radius: 0;
      }

      &-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: vars.$light-background;
        font-size: 1.5rem;

        &:hover {
          background: vars.$light-background;
          color: #1888ff;
          transition: 250ms;
        }
      }
    }
    
  }
}
 


