@use 'src/styles/vars';

.navbar {
  background: vars.$light-background-color;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 9999;

  &__logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }

  &__icon {
    display: none;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 59vw;
    justify-content: end;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &:hover {
      color: vars.$light-color-hover;
      text-decoration: underline;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }

    &-mobile {
      display: none;
    }
  }

  i{
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    position : sticky;
    top : 0px;

    &__logo {
      position: absolute;
      top: 0;
      left: -2.5em;
      transform: translate(25%, 50%);
    }

    &__icon {
      display: block;
      position: absolute;
      top: -0.32rem;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    &__menu {
      transition: all 0.5s ease;
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 3rem;
      right: -100%;
      opacity: 1;

      &.active {
        background: vars.$light-background-color;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        display: flex;
        z-index: 99;
      }
    }

    &__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;

      &:hover {
        color: vars.$light-color-hover;
        border-radius: 0;
      }

      &-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
          background: #fff;
          color: #1888ff;
          transition: 250ms;
        }
      }
    }
    
  }
}
 


